*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

:root {
  --Bg: #f7f4f4;
  --color: #373e5e;
  --sec: #9a9db3;
  --aux: #7c748f;
  --rad: #e27c7c;
}
body {
  padding: 3rem 5rem;
}
.field {
  display: flex;
  justify-content: space-between;
}
